<section class="contact" id="contact" style="padding: 80px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contattami</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <i class="fa fa-3x fa-home"></i>
                    <div><span>via San Gottardo, 71</span></div>
                    <div><span>20900 Monza (MB)</span></div>
            </div>
            <div class="col-lg-6 text-center">
                <i class="fa fa-3x fa-phone"></i>
                    <div><span>+39 349 7504324</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <i class="fa fa-3x fa-envelope"></i>
                    <div><span><a href="mailto:{{ site.email }}" style="color:#444;">{{ site.email }}</a></span></div>
            </div>
            <div class="col-lg-6 text-center">
                <i class="fa fa-3x fa-skype"></i>
                    <div><span>luisa.ferrario</span></div>
            </div>
        </div>

    </div>
</section>
