<!-- Team Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Luisa</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 0">
                "Si vive liberi e si sta bene a ogni livello quando le scelte sono autentiche e coerenti</h3>
                <h3 class="section-subheading text-muted">
                Partendo da questa convinzione personale, facilito gli altri a
                fare azioni sostenibili che nascono dalla sinergia fra le
                aspirazioni individuali, le esigenze della vita organizzativa, i
                valori più sentiti e lo Scopo più alto".
                </h3>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/luisa.jpg" class="img-responsive img-circle" alt="" data-toggle="modal" data-target="#bio">
                    <h4>Luisa Ferrario</h4>
                    <p class="text-muted">Mentor e Trusted Advisor <br>di Leader di Successo</p>
                    <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                    </ul>
                </div>

            </div>

            <div>
                <div class="col-sm-8">
                    <h4 class="service-heading">Il motto di Luisa è chi SI ama, mi segua.</h4>

                        Conosciuta come Leadership Strategist, Mentor e Trusted Advisor
                        di Executive e Imprenditori Top Earner e High Performer, li
                        aiuta a salire al loro prossimo livello di successo, definendo e
                        implementando con loro le strategie di leadership più adatte,
                        customizzate agli obiettivi desiderati.<br><br>
                        
                        Luisa è già stata scelta da aziende leader nel mercato che vanno
                        da Pfizer, KPMG, INTESA SANPAOLO a AMGEN, Coca-Cola HBC, STATE
                        STREET BANK, MAGNA MIRRORS, STEFANEL, OLIVER WYMAN, SAIPEM.

                    <h4 class="service-heading">Qualche tratto distintivo:</h4>
                        <ul>
                            <li>15 anni di Strategie di Leadership con clienti italiani e internazionali</li>
                            <li>Specializzata in Comunicazione Efficace, Personal Mastery e Intelligenza Emotiva</li>
                            <li>Più di 15.000 ore di leadership consulting, coaching, mentoring e training</li>
                            <li>Approccio concreto, diretto e disruptive</li>
                            <li>Stile sfidante, intuitivo e empowering</li>
                            <li>Mindset internazionale, sistemico e apprezzativo</li>
                            <li>Formazione e esperienza internazionali</li>
                            <li>Italiano e inglese</li>
                        </ul>

                        Imprenditrice, investitrice, speaker, autrice di libri e
                        video-corsi, Luisa ha il pallino dell'apprendimento e
                        dell'evoluzione di ogni dimensione umana: fisica, emotiva,
                        mentale, transpersonale e sociale.<br><br>
                        
                        Il suo contributo ha già aiutato migliaia di persone a fare un
                        magnifico lavoro di trasformazione professionale e personale,
                        realizzando le loro più alte capacità di leadership all'interno
                        delle organizzazioni in modo da elevare quanto più possibile la
                        responsabilità personale, la produttività, la creatività e la
                        padronanza di sé.
                </div>
            </div>

        </div>


    </div>

</section>


