<!DOCTYPE html>
<html>

  {% include head.html %}

    <script type="text/javascript" src="https://cdn.rawgit.com/mikeflynn/egg.js/master/egg.min.js"></script>
    <style> #egg { margin-left: auto; margin-right: auto; position: absolute; top: 0; left:0; right: 0; display: none; } </style>

    <body id="page-top" class="index">

    {% include navbar-home.html %}



    <header>
        <div class="container">
            <div class="intro-text" >
                <div class="intro-heading" style="font-size: 55px;"><span style="font-style:italic;">you just met your</span></div>
                <div class="intro-heading">LEADERSHIP CATALYST</div>
                    <div style="text-align: center;">
                        <a href="#services" class="page-scroll btn btn-xl" style="center;margin-top:130px;">Scopri di più</a>
                    </div>
            </div>
        </div>
    </header>

    {% include philosophy.html %}
    {% include services.html %}
    {% include works.html %}
    {% include team.html %}
    {% include values.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>


    </body>
</html>
